.footer {
  position: fixed;
  bottom: 0;
  height: 260px;
  width: 100%;
  z-index: 0;
  padding: 40px 0;
  background-color: #2e3131;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
}
